<template>
  <div>
    <v-navigation-drawer
      app
      v-model="drawer"
      id="sidenav"
      :value="$vuetify.breakpoint.mdAndUp"
      class="grey lighten-4"
    >
      <v-layout column justify-space-between fill-height>
        <div>
          <v-list class="pb-2 pt-0">
            <v-list-group>
              <v-list-tile avatar slot="activator">
                <v-list-tile-avatar>
                  <img :src="userAvatar">
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{ name }}</v-list-tile-title>
                  <v-list-tile-sub-title>{{ username }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                avatar
                @click="exportData"
                class="black--text"
                active-class="primary--text"
              >
                <v-list-tile-avatar>
                  <v-icon>mdi-download</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>Backup Notes</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar to="/import" class="black--text" active-class="primary--text">
                <v-list-tile-avatar>
                  <v-icon>mdi-import</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>Import</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                avatar
                @click="signOut"
                class="black--text"
                active-class="primary--text purple lighten-5"
              >
                <v-list-tile-avatar>
                  <v-icon>mdi-logout</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>Sign Out</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group>
            <v-list-tile
              @click="labelClick('All')"
              :value="filterLabel === 'All'"
              active-class="primary--text purple lighten-5"
            >
              <v-list-tile-avatar>
                <v-icon>mdi-view-dashboard-variant</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>All Notes</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              @click="labelClick('Favorites')"
              :value="filterLabel === 'Favorites'"
              active-class="primary--text purple lighten-5"
            >
              <v-list-tile-avatar>
                <v-icon>mdi-heart</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>Favorites</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              @click="labelClick('trash')"
              :value="filterLabel === 'trash'"
              active-class="primary--text purple lighten-5"
            >
              <v-list-tile-avatar>
                <v-icon>mdi-delete</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>Trash</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <template v-for="(item, lblIdx) in getLabels">
              <v-list-tile
                avatar
                @click="labelClick(item)"
                :key="lblIdx"
                :value="filterLabel === item"
                active-class="primary--text purple lighten-5"
              >
                <v-list-tile-avatar>
                  <v-icon>mdi-label</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{ item }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
            <v-list-group v-model="colorGrp" key="clrs" v-if="colors.length">
              <v-list-tile avatar slot="activator">
                <v-list-tile-avatar>
                  <v-icon>mdi-circle-outline</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>Filter By Color</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <template v-for="(color, i) in colors">
                <v-list-tile
                  avatar
                  @click.stop="labelClick('Color: ' + color)"
                  :key="i"
                  active-class="primary--text purple lighten-5"
                  :value="filterLabel === 'Color: ' + color"
                >
                  <v-list-tile-avatar>
                    <v-icon :color="color">mdi-circle</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content
                    class="capitalize"
                  >{{ color.substr(0,color.indexOf(' ')) + ' Notes' }}</v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list-group>
          </v-list>
        </div>
        <div>
          <p class="text-xs-center caption grey--text">This is beta software.</p>
          <v-toolbar color="transparent" dense flat class="pt-0">
            <v-toolbar-items>
              <v-btn icon href="http://stealthy.im" target="_blank">
                <v-icon>mdi-telegram</v-icon>
              </v-btn>
              <v-btn
                icon
                href="http://twitter.com/home?status=I'm%20taking%20back%20control%20of%20my%20data%20with%20%40NoteRiot!%20%20https%3A%2F%2Fnote.riot.ai"
                target="_blank"
              >
                <v-icon>mdi-twitter</v-icon>
              </v-btn>
              <v-btn flat icon href="https://www.producthunt.com/posts/noteriot" target="_blank">
                <v-avatar size="24px">
                  <img src="/static/img/product-hunt-brands.svg" alt="Product Hunt Logo">
                </v-avatar>
              </v-btn>
              <v-btn
                flat
                icon
                href="https://guides.github.com/features/mastering-markdown/"
                target="_blank"
              >
                <v-icon>mdi-help-circle</v-icon>
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
        </div>
      </v-layout>
    </v-navigation-drawer>
    <v-toolbar class="white pt-3" light app flat fixed v-if="$vuetify.breakpoint.smAndUp">
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="capitalize">{{ titlebarLabel }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="searchString"
        outline
        clearable
        label="Search"
        type="text"
        @input="setSearchTerm"
        @click:clear="$nextTick(() => clearSearch)"
      ></v-text-field>
    </v-toolbar>
    <v-toolbar color="white pt-3" light app flat fixed v-else>
      <v-text-field
        v-model="searchString"
        outline
        clearable
        label="Search"
        type="text"
        @input="setSearchTerm"
        @click:clear="$nextTick(() => clearSearch)"
        class="mt-3"
        prepend-inner-icon="mdi-menu"
        @click:prepend-inner="drawer = !drawer"
      ></v-text-field>
    </v-toolbar>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  data () {
    return {
      bottomNav: 'all',
      showSearch: false,
      signedIn: false,
      drawer: false,
      expand: false,
      colorGrp: false,
      showUserMenu: false,
      searchString: '',
      colorRows: 0,
      noteCreateOptions: [
        { text: 'Note', action: 'note' },
        // { text: 'Note from Template', action: 'template' },
        { text: 'List', action: 'list' }
      ]
    }
  },
  computed: {
    ...mapGetters({
      getLabels: 'labels',
      getLayout: 'layout',
      isSignedIn: 'signedIn',
      notes: 'notes',
      user: 'getUser',
      filterLabel: 'filterLabel',
      colors: 'colors'
    }),
    numberOfColors () {
      this.colorRows = this.colors.length / 5 + 1
      return this.colors.length
    },
    username () {
      return this.$store.state.username
    },
    userAvatar () {
      return this.$store.state.userAvatar
    },
    name () {
      return this.$store.state.user.name()
    },
    titlebarLabel () {
      if (this.filterLabel.startsWith('Color:')) {
        return this.filterLabel.substring(7, this.filterLabel.lastIndexOf(' '))
      } else {
        return this.filterLabel
      }
    }
  },
  methods: {
    ...mapActions([
      'setSearchTerm',
      'setFilterLabel',
      'signIn',
      'signOut',
      'addNote',
      'showSearchPage'
    ]),
    ...mapMutations({
      setSnack: 'setSnack'
    }),
    clearSearch () {
      this.setSearchTerm = ''
      this.searchString = ''
    },
    toggleSearchBar () {
      this.expand = !this.expand
    },
    labelClick (label) {
      this.setFilterLabel(label)
      if (this.$vuetify.breakpoint.smAndDown) {
        this.drawer = false
      }
    },
    showNBModal () {
      this.$store.state.showNBModal = true
    },
    social (site) {
      if (site === 'stealthy') {
        this.setSnack('Join us in the #NoteRiot channel on Stealthy')
      } else if (site === 'twitter') {
        this.setSnack()
      }
    },
    exportData () {
      this.showUserMenu = false
      let fileexport = '---\n'
      /* eslint-disable no-unused-vars */
      let tagExport = ''
      let shareExport = ''
      let i = 0
      const self = this
      this.notes.forEach(function (note) {
        if (!note.trash) {
          fileexport += 'title: ' + note.title.replace(/#/g, '').trim() + '  \n'
          fileexport += 'date:'
          if (note.created) {
            fileexport += ' ' + new Date(note.created).toISOString()
          }
          fileexport += '  \n'
          fileexport += 'lastmod:'
          if (note.modified) {
            fileexport += ' ' + new Date(note.modified).toISOString()
          }
          fileexport += '  \n'
          fileexport += 'author: ' + self.user.name().trim() + '  \n'
          fileexport += 'category: '
          if (note.tags.length > 0) {
            for (i = 0; i < note.tags.length; i++) {
              tagExport += note.tags[i] + ', '
            }
            tagExport = tagExport.substring(0, tagExport.length - 2)
            fileexport += tagExport + '  \n'
          } else {
            fileexport += ' \n'
          }
          fileexport += 'favorite: ' + note.fave + '  \n'
          fileexport += 'color: ' + note.color + '  \n'
          fileexport += 'shared with: '
          if (note.shares.length > 0) {
            for (i = 0; i < note.shares.length; i++) {
              shareExport += note.shares[i] + ', '
            }
            shareExport = shareExport.substring(0, shareExport.length - 2)
            fileexport += shareExport + '  \n\n'
          } else {
            fileexport += ' \n\n'
          }
          fileexport += '---\n'
          fileexport += note.text
          fileexport += '\n---\n\n'
          tagExport = ''
          shareExport = ''
        }
      })
      const FileSaver = require('file-saver')
      let blob = new Blob([fileexport], { type: 'text/plain;charset=utf-8' })
      FileSaver.saveAs(blob, 'RiotNotes.md')
    }
  }
}
</script>

<style scoped>
/* .active-list {
  background-color: mediumpurple;
} */
a {
  text-decoration: none;
}
.capitalize {
  text-transform: capitalize;
}
</style>